*/target/**
/GeneraDiccionario/nbproject/private/
/target/
/GeneraDiccionario/build/
/SIAP2-documentacion/src/main/resources/configLiquibase/*
/SIAP2-documentacion/src/main/resources/configLiquibase/**
