<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
  <module name="Checker">
    <module name="RegexpSingleline">
      <property name="format" value="System\.out\.println"/>
      <property name="message" value="Do not print out to sysout. Use a logger."/>
    </module>
    <module name="RegexpSingleline">
      <property name="format" value="System\.err\.println"/>
      <property name="message" value="Do not print out to syserr. Use a logger."/>
    </module>
    <module name="RegexpSingleline">
      <property name="format" value="\.printStackTrace\(\)"/>
      <property name="message" value="Do not print stacktrace. Log/handle it correctly"/>
    </module>
    <module name="RegexpSingleline">
      <property name="format" value="yy.mm"/>
      <property name="message" value="El patron mm indica minutos y no meses"/>
    </module>
    <module name="RegexpSingleline">
      <property name="format" value="mm.yy"/>
      <property name="message" value="El patron mm indica minutos y no meses"/>
    </module>
    <module name="RegexpSingleline">
      <property name="severity" value="warning"/>
      <property name="format" value="(?&lt;!@.{0,140}?\(.{0,140}?=\s{0,140}?)&quot;com\.youdevise\.[a-zA-Z\.]*&quot;"/>
      <property name="message" value="Do not create a string for a class name. Use 'class'.class.getName() instead. This helps with refactoring"/>
    </module>
    <module name="TreeWalker">
      <!-- Checks for imports -->
      <module name="AvoidStarImport">
        <property name="allowStaticMemberImports" value="true"/>
      </module>
      <module name="RedundantImport"/>
      <module name="UnusedImports" />
      <!-- Modifier Checks -->
      <module name="ModifierOrder"/>
      <!-- Checks for blocks. You know, those {}'s -->
      <module name="LeftCurly"/>
      <!-- Checks for common coding problems -->
      <module name="EmptyStatement"/>
      <module name="EqualsHashCode"/>
      <module name="IllegalInstantiation"/>
      
      <!-- Miscellaneous other checks. -->
      <module name="UpperEll"/>
      <module name="PackageAnnotation"/>
      <module name="CovariantEquals"/>
      <module name="ArrayTypeStyle"/>
    
    </module>
  </module>