
.chart .legend {
  fill: #004C89;
  font: 11px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: #00498d;
  font: 10px sans-serif;
  text-anchor: center;
}

.chart .label {
  fill: #004C89;
  font: 11px sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
  stroke-width: 2px;
  stroke: #004C89;
  shape-rendering: crispEdges;
}

.x, .y{
    border-width: 50px;
}
