<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <module-name>siges-pfea</module-name>
    
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
        <param-value>/*.xhtml</param-value>
    </context-param>
    
    <welcome-file-list>
        <welcome-file>/pp/firmar.xhtml</welcome-file>
    </welcome-file-list>
    
    <context-param>
        <param-name>configurationStrategy</param-name>
        <param-value>SYSTEM_PROPERTIES</param-value>
    </context-param>

    
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>
    
    
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/pp/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/pp/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/pp/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>Control de Acceso</filter-name>
        <filter-class>uy.com.sofis.pfea.filtros.ControlAcceso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Control de Acceso</filter-name>
        <url-pattern>/pp/*</url-pattern>
    </filter-mapping>
     
    <filter>
        <filter-name>noCache</filter-name>
        <filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>noCache</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    

    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/x-font-eot</mime-type>
    </mime-mapping>
    <session-config>
         <tracking-mode>COOKIE</tracking-mode>
        <session-timeout>50</session-timeout>
    </session-config>
    
      <error-page>
        <error-code>408</error-code>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pp/notFound.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pp/notFound.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pp/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/pp/inicio.xhtml</location>
    </error-page>
</web-app>
