.graficoTorta {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 680px;
  height: 800px;
  margin-top: 10px;
}

.graficoTorta #main {
  float: left;
  width: 550px;
}

.graficoTorta #sidebar {
  float: right;
  width: 100px;
}

.graficoTorta #sequence {
  width: 600px;
  height: 70px;
}

.graficoTorta #legend {
  padding: 10px 0 0 3px;
}

.graficoTorta #sequence text, .graficoTorta #legend text {
  font-weight: 600;
  fill: #fff;
}

.graficoTorta #chart {
  position: relative;
}

.graficoTorta #chart path {
  stroke: #fff;
}

.graficoTorta #explanation {
    z-index: 10000!important;
    position: absolute;
  top: 235px;
  left: 205px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

.graficoTorta #percentage {
  font-size: 2.5em;
}

