*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# build files
**/target
**/javadoc
javadoc
target
.gradle
build
/src/main/resources/rebel-remote.xml
/src/main/resources/rebel.xml
/nbactions.xml
/.rebel-remote.xml.bak
/nb_jr_remoting.cfg