/* Pasos de formulario */
.wizard-nav-tabs {
    padding: 0;
    margin-bottom: 40px;
    overflow: hidden;
    background: #F5F5F5;
    border: 1px solid #d9d8d8;
}

.wizard-nav-tabs li {
    position: relative;
    display: table-cell;
    float: left;
    list-style-type: none;
    padding: 10px 0;
    padding-left: 60px;
    box-sizing: border-box;
}

.wizard-nav-tabs li:first-child {
    padding-left: 25px;
}

.wizard-nav-tabs li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #F5F5F5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.wizard-nav-tabs li:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #DCDCDC;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.wizard-nav-tabs-2 li {
    width: 50%;
}

.wizard-nav-tabs-3 li {
    width: 33.3333333333%;
}

.wizard-nav-tabs-4 li {
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wizard-nav-tabs-5 li {
    width: 20%;
}

.wizard-nav-tabs-6 li {
    width: 16.6666666667%;
}

.wizard-nav-tabs li a {
    text-decoration: none;
    color: #231F20;
}

.wizard-nav-tabs li .wizard-step {
    display: block;
    font-size: 1.7em;
    line-height: 1;
    margin-bottom: 3px;
}

.wizard-nav-tabs li .wizard-step-description {
    display: block;
    line-height: 1.2;
}

.wizard-nav-tabs li.active .wizard-step,
.wizard-nav-tabs li.active .wizard-step-description {
    color: #1A2F5A;
    font-weight: bold;
}

.wizard-nav-tabs li.active:after {
    border-left: 30px solid #3155a6;
}

.wizard-nav-tabs li.active {
    background: #3155a6;
        padding-bottom: 15px;
    padding-top: 15px;
}

.wizard-nav-tabs li.active .wizard-step, .wizard-nav-tabs li.active .wizard-step-description {
    color: white;
    font-weight: initial;
}

/* Paso validado */
.paso-validado {
    display: block;
    overflow: hidden;
}

.paso-validado > span {
    display: block;
    float: left;
}

.paso-validado > .icn {
    margin-left: 12px;
    margin-top: 5px;
}

/* Pasos 2 lineas de texto */
.paso-dos-lineas {
    padding-bottom: 25px !important;
    /* Agregar cuando el paso seleccionado queda corto */
}

/* Pasos 3 lineas de texto */
.paso-tres-lineas {
    padding-bottom: 40px !important;
    /* Agregar cuando el paso seleccionado queda corto */
}

@media screen and (max-width: 980px) {
    .paso-dos-lineas {
        padding-bottom: 100% !important;
    }
    .paso-tres-lineas {
        padding-bottom: 100% !important;
    }
}

/* Botones de acción de formulario */
.form-action-buttons,
.form-action-buttons ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
    height: 60px;
}

.form-action-buttons button {
    margin-bottom: 10px;
    margin-left: 25px;
}

.form-action-buttons .btn-link {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 25px;
}

.form-action-buttons li {
    float: right;
}

.form-action-buttons li.action-buttons-second {
    float: left;
}

#sidebarCollapseDescktop, #sidebarCollapse {
    margin-bottom: -40px !important;
}

.sidebar-body {
    min-height: 0 !important;
}