.treeCalendar.ui-tree {
    width: 100%;
}
.treeCalendar .ui-treenode-content{
    position:relative;
    width: 100%;
    display: block;
    height: 32px;
}
.treeCalendar .ui-calendar{
    position: absolute;
    right: 0;
}
.labelTree{
    padding-top: 6px;
    display: inline-block;
    padding-bottom: 5px;
}
.treeCalendar .ui-state-highlight, .treeCalendar.ui-widget-content .ui-state-highlight{
    background: none;
    color: #5b5b5b;
}
.treeCalendar .ui-state-hover, .treeCalendar.ui-widget-content .ui-state-hover{
    background: none;
    cursor: pointer;
}